{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ title|default:'Team Autocycle' }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="{% static 'js/main.js' %}"></script>

    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="https://use.typekit.net/kvk4emi.css">
    <!-- Official UMD Sans Serif font via Adobe Creative Cloud ^ !-->
</head>
<body id="{{ page_id|default:'base' }}">

<div id="page">
    <div id="navbar">
        <a href="{% url 'index' %}" id="home_url"><b>AutoCycle</b></a>
        <div style="flex-grow: 1;"></div>
        {% for page in pages %}
            <a href="{% url page %}">{{ page|capfirst }}</a>
        {% endfor %}
    </div>
    {% block body %}
    {% endblock %}
</div>

</body>
</html>