{% extends 'base.html' %}
{% load static %}

{% block body %}
    <video autoplay muted loop id="bg_video" style="position: fixed; right: 0; bottom: 0; min-width: 100%; min-height: 100%;">
        <source src="{% static 'Autocycle Site Background.mp4' %}" type="video/mp4">
    </video>

    <div id="banner">
        <div id="banner-text">
            <h1>Team Autocycle</h1>
            <h2><i>Bikes, but Better</i></h2>
            <div id="sponsors">
                <a href="http://www.gemstone.umd.edu"><img src="{% static 'img/gemstone_logo.png' %}"
                                                           alt="The Gemstone Honors Program"></a>
                <a href="http://www.honors.umd.edu"><img src="{% static 'img/honors_college_logo.png' %}"
                                                         alt="The Honors College"></a>
            </div>
            <h3>Class of 2022</h3>

        </div>
    </div>

{% endblock %}