{% extends 'base.html' %}

{% block body %}
    <div id="content">
        <h1>Publications and Presentations</h1>
        <p>
            As Team Autocycle moves forward with its research, any and all publications, poster presentations, and other
            public displays of the team's progress and contributions will be made available here.
        </p>
        <ul>
            <li>
                <a href="https://docs.google.com/presentation/d/1K9xhKBUrAZ6IjoPI4SL1xerhrr66D7p6Hejfa7Ualc0/edit?usp=sharing">
                    Team Autocycle Thesis Proposal Defense Presentation</a></li>
            <li><a href="https://youtu.be/xsicvftrCkk">
                    Team Autocycle Do Good Showcase</a></li>
        </ul>
    </div>
{% endblock %}