{% extends 'base.html' %}
{% load static %}

{% block body %}
    <div id="content">
        <h1>Our Team</h1>
        <p>
            Team Autocycle is a research team from the University of Maryland's Gemstone Research Honors Program
            consisting of 14 undergraduate students working on developing semi-autonomous electric bicycle to improve
            bikeshare systems. Our chosen majors span the gamut from Aerospace Engineering to Art, and we are
            dedicated to using our research to Do Good in the world around us.
        </p>

        <div class="figure">
            <img src="{% static 'img/team-photo-5-2019.jpg' %}" alt="Team AutoCycle">
            <div class="caption">
                <i>Team Autocycle.</i> From left to right, back row: Joseph O'Leary, Cooper Grill, Michael Allen, Evan
                Ruderman, Jacob Bartolomei, Andoni Sanguesa, Mikhail Khrenov. Front row: Jack Mirenzi, Mei Blatchford,
                Isaac Rose, Logan Swaisgood, Meilina Amaral, Zev Traum, Jeremy Carter.
            </div>
        </div>

        <h1>Our Mission</h1>
        <p>
            Bikeshare schemes currently have one glaring problem: getting to the bike. Whether at one of several hubs,
            or lying on a street corner, the fact that any user has to go to the transportation method negates many of
            its advantages, especially in rarely traversed and underserved areas. We have a solution: have the bike come
            to you!
        </p>

        <h2>Research Questions</h2>
        <p>
            In order to accomplish this goal we will be working to expand upon existing research in bicycle actuation,
            stability, autonomy, and navigation to create a holistic system for our purposes. In doing so we seek to
            answer the following questions:
        </p>
        <ul>
            <li>What are the most effective methods for integrating controls and actuation into a pre-existing bicycle
                to implement autonomous capabilities in an urban setting?
            </li>
            <li>How can these controls methods be optimally combined with navigation technology to fully implement a
                single autonomous bicycle that could be utilized in a larger bike-sharing system?
            </li>
            <li>How could this proposed technology be applied to not only moving people but also the transportation of
                goods while also minimizing changes to the overarching design?
            </li>
        </ul>

        <h1>Roster</h1>
        <h3>Team Mentor</h3>
        <ul>
            <li><a href="https://ece.umd.edu/clark/faculty/399/Romel-Gomez">Romel Gomez</a> &mdash; Professor, Electrical and
                Computer Engineering
            </li>
        </ul>
        <h3>Team Librarian</h3>
        <ul>
            <li><a href="https://www.lib.umd.edu/directory/staff/nedelina">Nedelina Tchangalova</a> &mdash; Public Health
                Librarian, STEM Libraries
            </li>
        </ul>
        <h3>Team Members</h3>
        <ul>
            <li>Michael Allen</li>
            <li>Meilina Amaral</li>
            <li>Jacob Bartolomei</li>
            <li>Mei-An Blatchford</li>
            <li>Jeremy Carter</li>
            <li>Cooper Grill</li>
            <li>Mikhail Khrenov</li>
            <li>John Mirenzi</li>
            <li>Joseph O'Leary</li>
            <li>Isaac Rose</li>
            <li>Evan Ruderman</li>
            <li>Andoni Sanguesa</li>
            <li>Logan Swaisgood</li>
            <li>Zev Traum</li>
        </ul>

        <h1>Contact Us</h1>
        <p>
            If you would like to talk to us, feel free to reach out to the following people for their respective areas:
        </p>
        <ul>
            <li><a href="mailto:evanrman@comcast.net">Evan Ruderman</a> &mdash; Team Liaison</li>
            <li><a href="mailto:coopergrill@gmail.com">Cooper Grill</a> &mdash; Deputy Team Liaison</li>
            <li><a href="mailto:andoniesanguesa@gmail.com">Andoni Sanguesa</a> &mdash; Finance Liaison</li>
            <li><a href="mailto:mamaral@terpmail.umd.edu">Meilina Amaral</a> &mdash; Mentor Liaison</li>
            <li><a href="mailto:mkhrenov@umd.edu">Mikhail Khrenov</a> &mdash; Web Liaison</li>
        </ul>

    </div>
{% endblock %}