{% extends 'base.html' %}
{% load static %}

{% block body %}
    <div id="content">
        <h1>Our Team</h1>
        <p>
            Team Autocycle is a research group from the University of Maryland's Gemstone Research Honors Program
            consisting of 11 undergraduate students working on developing an autonomous electric bicycle to improve
            bikeshare systems. Our chosen majors span the gamut from Aerospace Engineering to Mathematics, and we are
            dedicated to using our research to Do Good in the world around us.
        </p>

        <div class="figure">
            <img src="{% static 'img/team-photo-5-2019.jpg' %}" alt="Team AutoCycle">
            <div class="caption">
                <i>Team Autocycle.</i> From left to right, back row: Joseph O'Leary, Cooper Grill, Michael Allen, Evan
                Ruderman, Jacob Bartolomei, Andoni Sanguesa, Mikhail Khrenov. Front row: Jack Mirenzi, Mei Blatchford,
                Isaac Rose, Logan Swaisgood, Meilina Amaral, Zev Traum, Jeremy Carter.
            </div>
        </div>

        <h1>Our Mission</h1>
        <p>
            Bikeshare schemes currently have one glaring problem: getting to the bike. Whether at one of several hubs,
            or lying on a street corner, the fact that any user has to go to the transportation method negates many of
            its advantages, especially in rarely traversed and underserved areas. We have a solution: have the bike come
            to you!
        </p>

        <h2>Research Questions</h2>
        <p>
            In order to accomplish this goal we will be working to expand upon existing research in bicycle actuation,
            stability, autonomy, and navigation to create a complete, functional system. In doing so we seek to
            answer the following questions:
        </p>
        <ul>
            <li>What are the most effective control methods for achieving stability and steering in an arbitrary
                bicycle?
            </li>
            <li>How can these control methods be best combined with navigation technology to implement an autonomous
                bicycle for potential use in a bike-sharing system?
            </li>
        </ul>

        <h1>Roster</h1>
        <h3>Team Mentor</h3>
        <ul>
            <li><a href="https://ece.umd.edu/clark/faculty/399/Romel-Gomez">Romel Gomez</a>
                &mdash; Professor, Electrical and Computer Engineering
            </li>
        </ul>
        <h3>Team Librarian</h3>
        <ul>
            <li><a href="https://www.lib.umd.edu/directory/staff/nedelina">Nedelina Tchangalova</a>
                &mdash; Public Health Librarian, STEM Libraries
            </li>
        </ul>
        <h3>Team Members</h3>
        <ul>
            <li>Michael Allen</li>
            <li>Jacob Bartolomei</li>
            <li>Jeremy Carter</li>
            <li>Cooper Grill</li>
            <li>Mikhail Khrenov</li>
            <li>John Mirenzi</li>
            <li>Joseph O'Leary</li>
            <li>Isaac Rose</li>
            <li>Evan Ruderman</li>
            <li>Andoni Sanguesa</li>
            <li>Logan Swaisgood</li>
        </ul>

        <h1>Contact Us</h1>
        <p>
            If you would like to talk to us, feel free to reach out to the following people depending on your question:
        </p>
        <ul>
            <li>General team inquiries &mdash; <a href="mailto:evanrman@comcast.net">Evan Ruderman</a> or <a
                    href="mailto:coopergrill@gmail.com">Cooper Grill</a></li>
            <li>Finances and donations &mdash; <a href="mailto:andoniesanguesa@gmail.com">Andoni Sanguesa</a></li>
            <li>Website content &mdash; <a href="mailto:mkhrenov@umd.edu">Mikhail Khrenov</a></li>
            <li>Navigation research &mdash; <a href="mailto:andoniesanguesa@gmail.com">Andoni Sanguesa</a></li>
            <li>Stability and controls research &mdash; <a href="mailto:mkhrenov@umd.edu">Mikhail Khrenov</a></li>
        </ul>

    </div>
{% endblock %}