{% extends 'base.html' %}
{% load static %}

{% block body %}
    <div id="content">
        <h1>Our Progress So Far</h1>

        <div id="timeline">
            <div class="timeline-item">
                <div class="timeline-text">
                    <h1>Team Formed</h1>
                    <h3>March 2019</h3>
                    <p>
                        After passing the Gemstone team selection process, Team Autocycle (formerly SAFE-Bike) was
                        established by 14 undergraduate students to develop an autonomous bicycle system to alleviate
                        logistical hurdles faced by bikeshares.
                    </p>
                </div>
                <div class="timeline-img">
                    <img src="{% static 'img/timeline/team-formed.jpg' %}" alt="Autocycle in March 2019">
                </div>
            </div>

            <div class="timeline-item">
                <div class="timeline-img">
                    <img src="{% static 'img/timeline/gomez-appointed.jpg' %}" alt="Dr. Romel Gomez">
                </div>
                <div class="timeline-text">
                    <h1>Mentor Appointed</h1>
                    <h3>June 2019</h3>
                    <p>
                        Following consultation with Gemstone staff, Dr. Romel Gomez of the Department of Electrical
                        and Computer Engineering was appointed as the faculty advisor to Team Autocycle. Dr. Gomez has
                        been instrumental in providing the team with valuable feedback, access to resources, and sage
                        advice.
                    </p>
                </div>
            </div>

            <div class="timeline-item">
                <div class="timeline-text">
                    <h1>Image Analysis and Simulation Begun</h1>
                    <h3>September 2019</h3>
                    <p>
                        With the start of the Fall 2019 semester, Team Autocycle began work on the first stage of its
                        research, namely developing a simulator to model the behaviour of a bicycle under various
                        control systems and training a classifier to identify objects important for bicycle navigation
                        in a stream of images.
                    </p>
                </div>
                <div class="timeline-img">
                    <img src="{% static 'img/timeline/object-detect-gif.gif' %}" alt="Example of image analysis">
                </div>
            </div>

            <div class="timeline-item">
                <div class="timeline-img">
                    <img src="{% static 'img/timeline/otto-von-cycle.jpg' %}" alt="Original bicycle prototype">
                </div>
                <div class="timeline-text">
                    <h1>Bicycle Prototype Acquired</h1>
                    <h3>November 2019</h3>
                    <p>
                        While a proper simulation was important to save time by testing numerically prior to testing
                        empirically, the team would soon enough need to have a physical prototype for experimentation.
                        The chosen bicycle, christened "Otto von Cycle", would go on to be the platform for empirical
                        testing and eventual modification for stability and navigation.
                    </p>
                </div>

            </div>

            <div class="timeline-item">
                <div class="timeline-text">
                    <h1>Empirical Characterization</h1>
                    <h3>November 2019</h3>
                    <p>
                        As work continued on coding the simulator and elements of the navigation system, parts of the
                        team began work on empirical measuring the critical quantities of the bike frame such as the
                        weight, center of mass, and moments of inertia of each of the four primary components. These
                        values would eventually be used as parameters in the simulation and be important for properly
                        tuning the stability control loop.
                    </p>
                </div>
                <div class="timeline-img">
                    <img src="{% static 'img/timeline/com-measurements.jpg' %}" alt="Taking COM measurements">
                </div>
            </div>

            <div class="timeline-item">
                <div class="timeline-img">
                    <img src="{% static 'img/timeline/simulator-example.PNG' %}" alt="Example simulation result">
                </div>
                <div class="timeline-text">
                    <h1>Simulation Completed</h1>
                    <h3>January 2020</h3>
                    <p>
                        As January drew to a close, a fully functional version of the simulator was put into service.
                        The program could simulate the behaviour of an arbitrary bicycle traversing a flat plane in its
                        linear region subject to an arbitrary control function with arbitrary initial conditions. As the
                        semester went on, additional features, including a PID autotuner, would be integrated into the
                        system.
                    </p>
                </div>
            </div>

            <div class="timeline-item">
                <div class="timeline-text">
                    <h1>Thesis Proposal Defense</h1>
                    <h3>February 2020</h3>
                    <p>
                        At the beginning of Spring 2020 semester Team Autocycle presented its final Thesis Proposal
                        to a committee including Gemstone staff, the team's mentor and librarian, and an outside expert,
                        Dr. William S. Levine of the Department of Electrical and Computer Engineering and the Institute
                        for Systems Research. The team outlined its plans for answering their research questions through
                        the development of the autonomous bicycle system and how these plans would be executed.
                    </p>
                </div>
                <div class="timeline-img">
                    <img src="{% static 'img/timeline/thesis-proposal-defense.jpg' %}" alt="Thesis proposal defense">
                </div>
            </div>

            <div class="timeline-item">
                <div class="timeline-img">
                    <img src="{% static 'img/timeline/motor-teardown.jpg' %}"
                         alt="The team working on firmware to control the electric drive motor">
                </div>
                <div class="timeline-text">
                    <h1>Initial Firmware Integration</h1>
                    <h3>February 2020</h3>
                    <p>
                        With the simulation in a fully working state, it was time for the team to move on to writing
                        code to control and sense from the actual Autocycle prototype. To that end, a drive motor was
                        acquired, its input and controls characterized, and code for a microcontroller began to be
                        developed to execute the tuned control loop on the physical prototype in real time.
                    </p>
                </div>
            </div>

            <div class="timeline-item">
                <div class="timeline-text">
                    <h1>Local Path Planning</h1>
                    <h3>February 2020</h3>
                    <p>
                        On the navigation side of the project, with a sufficiently robust image analysis system
                        developed it was necessary to move on to generating local paths for the bicycle that could
                        avoid the detected obstacles. This was done using bezier curves, which after translating an
                        obstacle into a straight line obstruction could ensure the path from the designated start and
                        end points would not collide with any blockers.
                    </p>
                </div>
                <div class="timeline-img">
                    <img src="{% static 'img/timeline/obs-avoid.png' %}" alt="Sample obstacle avoidance path">
                </div>
            </div>

            <div class="timeline-item">
                <div class="timeline-img">
                    <img src="{% static 'img/timeline/bike-grinding-gif.gif' %}"
                         alt="Grinding the hub of the prototype to fit the drive motor">
                </div>
                <div class="timeline-text">
                    <h1>Prototype Modifications</h1>
                    <h3>March 2020</h3>
                    <p>
                        Moving into late spring, the team began preparing the prototype chassis to be outfitted with
                        sensing and actuation equipment. This required several modifications to the chassis itself
                        to accommodate the drive motor's mounting on the hub and the attachment of the front handlebar
                        control servo motor.
                    </p>
                </div>
            </div>

            <div class="timeline-item">
                <div class="timeline-text">
                    <h1>Machining and Actuator Integration</h1>
                    <h3>October 2020</h3>
                    <p>
                        Going into the Fall of 2020, Team Autocycle began turning its theoretical and simulated results
                        into practice. Having acquired appropriate actuators to exert the necessary control torques on
                        the prototype, the team deployed and refined the stabilization firmware while also machining the
                        required custom components to couple said actuators to the Autocycle prototype.
                    </p>
                </div>
                <div class="timeline-img">
                    <img src="{% static 'img/timeline/lathe.gif' %}"
                         alt="Animation of simulated control system results">
                </div>
            </div>

            <div class="timeline-item">
                <div class="timeline-img">
                    <iframe width="711" height="400" src="https://www.youtube-nocookie.com/embed/xsicvftrCkk"
                            frameborder="0"
                            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                            allowfullscreen></iframe>
                </div>
                <div class="timeline-text">
                    <h1>Do Good Showcase</h1>
                    <h3>November 2020</h3>
                    <p>
                        In November of 2020 the team presented its findings so far to their peers, Gemstone faculty and
                        staff, and the Do Good Institute of the University of Maryland. The presentation detailed the
                        team's rationale for pursuing the project, its expected deliverables, the progress that has been
                        made to achieving the team's goals, and how the project's outcome will Do Good.
                    </p>
                </div>
            </div>

            <div class="timeline-item">
                <div class="timeline-text">
                    <h1>Initial Self-Balancing Experiments</h1>
                    <h3>January-March 2021</h3>
                    <p>
                        Beginning in the winter of 2021, the team began carrying out experiments to test the control
                        laws meant to ensure the self-balancing of the bike. These experiments gave the team experience
                        in data collection and procedure, while also revealing flaws in the hardware of the Autocycle
                        prototype, including weakness in the tensioner, coupler, and other components.
                    </p>
                </div>
                <div class="timeline-img">
                    <video autoplay muted loop style="max-height: 100%; max-width: 100%;">
                        <source src="{% static 'img/timeline/March21Experiment.mp4' %}" type="video/mp4">
                    </video>
                </div>
            </div>


            <div class="timeline-item">
                <div class="timeline-img">
                    <video autoplay muted loop style="max-height: 100%; max-width: 100%;">
                        <source src="{% static 'img/timeline/OldZSS_demo.mp4' %}" type="video/mp4">
                    </video>
                </div>
                <div class="timeline-text">
                    <h1>Zero Speed Stability System Design</h1>
                    <h3>April-June 2021</h3>
                    <p>
                        One of the issues revealed by initial testing was the need for a system to keep the Autocycle
                        prototype level before it had gotten up to speed and was able to exert control authority
                        via steering torque. To resolve this, a set of deployable training wheels was designed and
                        christened the Zero Speed Stability system (ZSS).
                    </p>
                </div>
            </div>

            <div class="timeline-item">
                <div class="timeline-text">
                    <h1>Custom Electronics and Hardware</h1>
                    <h3>April-June 2021</h3>
                    <p>
                        At the same time, work was done to improve issues identified with other hardware elements (by
                        upgrading to stronger materials and manufacturing methods), and electronics. Notably, a custom
                        circuit board was designed to integrate higher capacity data logging, brake control, and radio
                        telemetry.
                    </p>
                </div>
                <div class="timeline-img">
                    <img src="{% static 'img/timeline/NewShield.jpg' %}"
                         alt="New PCB">
                </div>
            </div>


            <div class="timeline-item">
                <div class="timeline-img">
                    <video autoplay muted loop style="max-height: 100%; max-width: 100%;">
                        <source src="{% static 'img/timeline/Nov28Stability.mp4' %}" type="video/mp4">
                    </video>
                </div>
                <div class="timeline-text">
                    <h1>Experimentation and System Identification</h1>
                    <h3>July-November 2021</h3>
                    <p>
                        The Stability subteam continued experiments with the new hardware, increasing the frequency and
                        tempo of experiments, and used data based methods to perform system identification on the
                        parameters of the system to find more robust control gains.
                    </p>
                </div>
            </div>

            <div class="timeline-item">
                <div class="timeline-text">
                    <h1>Local Path Planning Experiments</h1>
                    <h3>September-November 2021</h3>
                    <p>
                        In parallel, the Navigation subteam carried out experiments to validate their obstacle detection
                        and path planning algorithms at low speed, with the ZSS deployed. This process revealed many
                        areas for improvement and helped the team solidify its code in preparation for integration with
                        Stability.
                    </p>
                </div>
                <div class="timeline-img">
                    <video autoplay muted loop style="max-height: 100%; max-width: 100%;">
                        <source src="{% static 'img/timeline/NavOverhead.mp4' %}" type="video/mp4">
                    </video>
                </div>
            </div>

            <div class="timeline-item">
                <div class="timeline-img">
                    <video autoplay muted loop style="max-height: 100%; max-width: 100%;">
                        <source src="{% static 'img/timeline/OttoFliesZoom.mp4' %}" type="video/mp4">
                    </video>
                </div>
                <div class="timeline-text">
                    <h1>Successful Self-Balancing</h1>
                    <h3>December 2021</h3>
                    <p>
                        After much work tuning gains, debugging firmware and hardware issues, and adjusting system model
                        parameters, the team was able to arrive at a control that successfully balanced the Autocycle
                        over a significant distance and rejected disturbances.
                    </p>
                </div>
            </div>

            <div class="timeline-item">
                <div class="timeline-text">
                    <h1>Where We're Headed</h1>
                    <h3>Winter 2022</h3>
                    <p>
                        Going into 2022, the team is focusing on integrating the newly achieved self-balancing
                        capabilities with global and local navigation. GPS and other global positioning techniques
                        will be integrated for accurate and dynamic position estimation to complete the full
                        path-planning and balancing loop.
                    </p>
                </div>
                <div class="timeline-img">
                    <img src="{% static 'img/timeline/otto_jan22.jpg' %}"
                         alt="The Autocycle in January of 2022">
                </div>
            </div>

        </div>

    </div>
{% endblock %}